:root {
  font-family: sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --titlebar-height: 35px;
  --gray-discord: #2f3134;
  --middle-gray-discord: #252628;
  --shine-gray-discord: #d7d7d7;
  --light-gray-discord: #aaaaaa;
  --strong-gray: rgb(28, 26, 28);
  --dark-gray: #121313;
  --gray: #dcdcdc;
  --warning: rgb(226, 162, 12);
  --error: rgb(171, 39, 39);
  --success: rgb(35, 142, 27);
  --folly: #FE4056ff;
  --light-folly: rgb(254, 117, 133);
  --strong-folly: rgb(28, 26, 28);
  --dim-gray: #605F69ff;
  --raisin-black: #2B2836ff;
  --light-raisin-black: rgb(54, 51, 65);
  --strong-raisin-black: rgb(35, 33, 42);
  --maxIndex: 100;
  --mediumIndex: 99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  user-select: none;
}

button {
  cursor: pointer;
}

.button:active, button:active {
  transform: translateY(1.5px);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--middle-gray-discord);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 20px;
}


#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

#main {
  height: calc(100vh - var(--titlebar-height));
  position: relative;
  overflow: hidden;
}

.icon {
  height: 60%;
  width: 40px;
}

.loader {
  height: 20px;
}